<div ng-hide="attrs.id">
	<a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>
</div>
<div ng-show="attrs.id">    
    <div class="row">
        <div ng-class="col-md-6" ng-show="quantityMax">            
            <select name="quantity" id="quantity" ng-model="q" ng-options=" v for v in qtyOpt"></select>            
        </div>
        <div ng-class="col-md-6">
            <button class="atc btn btn-primary btn-sm btn-raised btn-block'" 
                ng-disabled="isstock==0"
                ng-click="ngCart.addItem(id, name, price, q, data, url, img, sizeid, isstock)" 
                onclick="openSlide()" 
                ng-transclude>
            </button>
        </div>
        <!--
        <div ng-class="col-xs-6" ng-show="inCart()">
            <button class="atc btn btn-primary btn-sm btn-raised btn-block'" ng-click="ngCart.removeItemById(id)" onclick="openSlide()">
                Remove
            </button>
        </div>-->
    </div>		
</div>
